<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="css/navbar.css">
</head>
<body>
    <div class="topnav">
        <a class="active" href="#">Search</a>
        <a href="#">Favorite</a>
        <a href="#">Offline</a>
        <a href="#">History</a>
        <a href="#">Pinned</a>
        <a href="#">Setting</a>
    </div>
<script src="js/index.js"></script>
</body>
</html>

<!-- <button onclick="hello()">Hello</button>
<button onclick="closeTab()">Close Tab</button>



