<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="css/navbar.css">
</head>
<body>
    <div class="topnav">
        <a onclick="search()" class="active" href="#">Search</a>
        <a onclick="favorite()" href="#">Favorite</a>
        <a onclick="offline()" href="#">Offline</a>
        <a onclick="history()" href="#">History</a>
        <a onclick="pinned()" href="#">Pinned</a>
        <a onclick="setting()" href="#">Setting</a>
    </div>

<button onclick="searchformstack()">Search</button>

<script src="js/navbar.js"></script>
<script src="js/index.js"></script>
</body>
</html>

<!-- <button onclick="hello()">Hello</button>
<button onclick="closeTab()">Close Tab</button>



