<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/contentview.css">


</head>

<body class="allbody">

    <!-- navbar -->
    <!-- <div class="topnav">
        <a onclick="index()" href="index.html">Search</a>
        <a onclick="" class="active" href="setting.html">Login</a>
    </div> -->
    <!-- end of navbar -->

    <!-- Search form -->
    <div class="text-center mt-20">
        <h1 class="text-light">You are already Logged-in</h1>
        <button onclick="logout()" class="btn-secondary mt-40 mybtn">Log out</button>
    </div>

    <script src="js/jquery-3.5.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/navbar.js"></script>
    <script src="js/logout.js"></script>

</body>

</html>
