.mt-10{
    margin-top: 15px;
}

.search,input[type="text"], textarea {

    background-color : rgb(94, 94, 94);  
    border-color : rgb(94, 94, 94);
    color : rgb(255, 255, 255);
  
  }

.stackcard{

    height: 50px;
    color : rgb(255, 255, 255);
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
  
}

.AnswerNumber{
    color : rgb(238, 119, 23);
}
  

